<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu HTML</title>
  </head>
  <body>
    <h2>Nav bar</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis,
      expedita dolor dolorem accusamus eligendi vero dignissimos voluptatibus
      explicabo id? Obcaecati expedita unde quod quibusdam, ipsa soluta ] nam
      consectetur officiis eligendi.
    </p>
    <ul>
      <li>sandália</li>
      <li>sapato</li>
      <li>bola</li>
      <li>beck</li>
      <li>mô</li>
    </ul>
    Luiz Otávio
  </body>
</html>
